*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-size: 1rem;
}
ul{
    list-style: none;
}
.title{
    text-align: center;
}
.title div:nth-child(1){
    font-size: 1.875rem;
    margin-top: 2.0625rem;
}
.title div:nth-child(2){
    font-size: 6.25rem;
    margin-top: 2.0625rem;
    color: red;
}
.title div:nth-child(3){
    font-size: 1.875rem;
    margin-top: 2.0625rem;
    color: gray;
    margin-left: 31.25rem;
}
.list{
    padding-top: .9375rem;
    width: 70%;
    height: 9.375rem;
    margin: 3.75rem auto;
    background-color: rgb(165, 164, 164);
    margin-bottom: 0;
}
.list li{
    width: 11.25rem;
    height: 3.75rem;
    float: left;
    line-height: 3.75rem;
    margin: .3125rem;
    font-size: 1.1875rem;
    text-align: center;
    cursor: pointer;
}
.list li.active{
    background-color: orange;
    color: white;
}
.box{
    width: 100%;
}
.box ul{
    display: none;
    width: 60%;
    margin: 0 auto;
}
.box ul.active{
    display: block;
}
.box li{
    padding: .625rem;
    padding-top: 0;
    height: 2.5rem;
    float: left;
    text-align: center;
    line-height: 3.125rem;
    background-color: rgba(20, 30, 60, .4);
    margin: .625rem;
    cursor: pointer;
}
.box ul li.active{
    background-color: red;
    color: white;
}
footer{
    width: 60%;
    margin: 7.5rem auto;
}
footer .explain{
    width: 31.25rem;
    height: 3.75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 2.5rem;
}
footer .explain div{
    text-align: center;
    background-color: black;
    width: 6.25rem;
    height: 1.875rem;
    line-height: 1.875rem;
    color: white;
    cursor: pointer;
}
.illustrate div{
    display: none;
}
.illustrate .item{
    display: block;
}
.illustrate .use{
    width: 25rem;
    height: 9.375rem;
    background-color: pink;
    color: black;
    margin: 0 auto;
}
.illustrate .use ul li{
    font-size: 1.25rem;
    margin-bottom: .625rem;
}
.illustrate .install{
    width: 18.75rem;
    height: 9.375rem;
    background-color: gray;
    margin: 0 auto;
    text-align: center;
}
.illustrate .install button{
    width: 12.5rem;
    height: 1.875rem;
    margin: .625rem;
    text-align: center;
    cursor: pointer;
}
.illustrate .install button:nth-child(1){
    background-color: green;
    color: black;
}
.illustrate .install button:nth-child(3){
    background-color: red;
    color: white;
}
.illustrate .install button:nth-child(5){
    background-color: orange;
    color: red;
}
footer .explain .item{
    background-color: yellow;
    color: black;
}