@keyframes bounce {
    0% {
        transform: translateY(-2em);
    }

    25% {
        transform: translateY(0em);
    }

    50% {
        transform: translateY(-1em);
    }

    75%,
    100% {
        transform: translateY(0);
    }
}

.bounce {
    animation: 1s bounce linear;
}

@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.flash {
    animation: 1s flash linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    45%,
    55% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: 1s pulse linear;
}

@keyframes rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.5, .6, 1);
    }

    40% {
        transform: scale3d(.6, 1.5, 1);
    }

    50% {
        transform: scale3d(1.3, .8, 1);
    }

    60% {
        transform: scale3d(.8, 1.3, 1);
    }

    70% {
        transform: scale3d(1.2, .9, 1);
    }

    80% {
        transform: scale3d(.9, 1.2, 1);
    }

    85% {
        transform: scale(1.1, .95, 1);
    }

    90% {
        transform: scale3d(.95, 1.1, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    animation: 1s rubberBand linear;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-.3em);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(.3em);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: 1s shake linear;
}

@keyframes swing {
    0% {
        transform: rotate(0);
    }

    15% {
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(-15deg);
    }

    45% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0);
    }
}

.swing {
    animation: 1s swing linear;
    transform-origin: top center;
}

@keyframes tada {
    0% {
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        transform: scale3d(.9, .9, .9) rotate(-3deg);
    }

    30%,
    50%,
    70% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }

    100% {
        transform: rotate3d(1, 1, 1) rotate(0);
    }
}

.tada {
    animation: 1s tada linear;
}

@keyframes wobble {
    0% {
        transform: translateX(0) rotate(0);
    }

    20% {
        transform: translateX(-2em) rotate(-5deg);
    }

    40% {
        transform: translateX(2em) rotate(5deg);
    }

    60% {
        transform: translateX(-1em) rotate(-3deg);
    }

    80% {
        transform: translateX(1em) rotate(3deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

.wobble {
    animation: 1s wobble linear;
}

@keyframes jello {
    0% {
        transform: skewX(0deg) skewY(0deg);
    }

    15% {
        transform: skewX(-12deg) skewY(-12deg);
    }

    30% {
        transform: skew(10deg) skewY(10deg);
    }

    45% {
        transform: skew(-8deg) skewY(-8deg);
    }

    60% {
        transform: skew(6deg) skewY(6deg);
    }

    75% {
        transform: skew(-4deg) skewY(-4deg);
    }

    90% {
        transform: skew(2deg) skewY(2deg);
    }

    100% {
        transform: skew(0deg) skewY(0deg);
    }
}

.jello {
    animation: 1s jello linear;
}

@keyframes heartBeat {

    0%,
    40%,
    80% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.2);
    }
}

.heartBeat {
    animation: 1s heartBeat linear;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1, 1, 1, 1, 1, 1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    70% {
        transform: scale3d(.97, .97, .97);
    }

    80% {
        transform: scale3d(1.03, 1.03, 1.03);
    }

    90% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation: 1s bounceIn linear;
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
}

@keyframes bounceInDown {
    0% {
        transform: translateY(-2000px);
    }

    20% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-1em);
    }

    60% {
        transform: translateY(0em);
    }

    80% {
        transform: translateY(0.5em);
    }

    100% {
        transform: translateY(0em);
    }
}

.bounceInDown {
    animation: 1s bounceInDown linear;
}

@keyframes bounceInLeft {
    0% {
        transform: translateX(-2000px);
    }

    20% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(-1em);
    }

    60% {
        transform: translateX(0em);
    }

    80% {
        transform: translateX(0.5em);
    }

    100% {
        transform: translateX(0em);
    }
}

.bounceInLeft {
    animation: 1s bounceInLeft linear;
}

@keyframes bounceInRight {
    0% {
        transform: translateX(2000px);
    }

    20% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(1em);
    }

    60% {
        transform: translateX(0em);
    }

    80% {
        transform: translateX(-0.5em);
    }

    100% {
        transform: translateX(0em);
    }
}

.bounceInRight {
    animation: 1s bounceInRight linear;
}

@keyframes bounceInUp {
    0% {
        transform: translateY(2000px);
    }

    20% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(1em);
    }

    60% {
        transform: translateY(0em);
    }

    80% {
        transform: translateY(-0.5em);
    }

    100% {
        transform: translateY(0em);
    }
}

.bounceInUp {
    animation: 1s bounceInUp linear;
}
@keyframes bounceOut {
    0%{
        transform: scale3d(1,1,1);
    }
    20%{
        transform: scale3d(.9,.9,.9);
    }
    40%,
    45%{
        transform: scale3d(1.1,1.1,1.1);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale3d(.3,.3,.3);
    }
}
.bounceOut{
    animation: 1s bounceOut linear;
}
@keyframes bounceOutDown {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(0.5em);
        opacity: 1;
    }
    40%{
        transform: translateY(-1em);
    }
    100%{
        transform: translateY(2000px);
        opacity: 0;
    }
}
.bounceOutDown{
    animation: 1s bounceOutDown linear;
}
@keyframes bounceOutUp {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-0.5em);
        opacity: 1;
    }
    40%{
        transform: translateY(1em);
    }
    100%{
        transform: translateY(-2000px);
        opacity: 0;
    }
}
.bounceOutUp{
    animation: 1s bounceOutUp linear;
}
@keyframes bounceOutLeft {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-0.5em);
        opacity: 1;
    }
    40%{
        transform: translateX(1em);
    }
    100%{
        transform: translateX(-2000px);
        opacity: 0;
    }
}
.bounceOutLeft{
    animation: 1s bounceOutLeft linear;
}
@keyframes bounceOutRight {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0.5em);
        opacity: 1;
    }
    40%{
        transform: translateX(-1em);
    }
    100%{
        transform: translateX(2000px);
        opacity: 0;
    }
}
.bounceOutRight{
    animation: 1s bounceOutRight linear;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.fadeIn{
    animation: 1s fadeIn linear;
}
@keyframes fadeInDown {
    0%{
        transform: translateY(-1em);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.fadeInDown{
    animation: 1s fadeInDown linear;
}
@keyframes fadeInDownBig {
    0%{
        transform: translateY(-2000px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.fadeInDownBig{
    animation: 1s fadeInDownBig ease-out;
}
@keyframes fadeInUp {
    0%{
        transform: translateY(1em);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.fadeInUp{
    animation: 1s fadeInUp linear;
}
@keyframes fadeInUpBig {
    0%{
        transform: translateY(2000px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.fadeInUpBig{
    animation: 1s fadeInUpBig ease-out;
}
@keyframes fadeInLeft {
    0%{
        transform: translateX(-1em);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.fadeInLeft{
    animation: 1s fadeInLeft linear;
}
@keyframes fadeInLeftBig {
    0%{
        transform: translateX(-2000px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.fadeInLeftBig{
    animation: 1s fadeInLeftBig ease-out;
}
@keyframes fadeInRight {
    0%{
        transform: translateX(1em);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.fadeInRight{
    animation: 1s fadeInRight linear;
}
@keyframes fadeInRightBig {
    0%{
        transform: translateX(2000px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.fadeInRightBig{
    animation: 1s fadeInRightBig ease-out;
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.fadeOut{
    animation: 1s fadeOut linear;
}
@keyframes fadeOutDown {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(1em);
        opacity: 0;
    }
}
.fadeOutDown{
    animation: 1s fadeOutDown linear;
}
@keyframes fadeOutDownBig {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(2000px);
        opacity: 0;
    }
}
.fadeOutDownBig{
    animation: 1s fadeOutDownBig ease-out;
}
@keyframes fadeOutUp {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-1em);
        opacity: 0;
    }
}
.fadeOutUp{
    animation: 1s fadeOutUp linear;
}
@keyframes fadeOutUpBig {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-2000px);
        opacity: 0;
    }
}
.fadeOutUpBig{
    animation: 1s fadeOutUpBig ease-out;
}
@keyframes fadeOutLeft {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-1em);
        opacity: 0;
    }
}
.fadeOutLeft{
    animation: 1s fadeOutLeft linear;
}
@keyframes fadeOutLeftBig {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-2000px);
        opacity: 0;
    }
}
.fadeOutLeftBig{
    animation: 1s fadeOutLeftBig ease-out;
}
@keyframes fadeOutRight {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(1em);
        opacity: 0;
    }
}
.fadeOutRight{
    animation: 1s fadeOutRight linear;
}
@keyframes fadeOutRightBig {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(2000px);
        opacity: 0;
    }
}
.fadeOutRightBig{
    animation: 1s fadeOutRightBig ease-out;
}
@keyframes flip {
    0%{
        transform: perspective(400px) rotateY(-1turn) translateZ(0) scaleX(1);
        animation-timing-function: ease-in;
    }
   40%{
    transform: perspective(400px) rotateY(-190deg) translateZ(-150px) scaleX(1);
    animation-timing-function: ease-in;
   }
   50%{
    transform: perspective(400px) rotateY(-170deg) translateZ(-150px) scaleX(1);
    animation-timing-function: ease-out;
   }
   80%{
    transform: perspective(400px) rotateY(0) translateZ(0) scale3d(.95,.95,.95);
    animation-timing-function: ease-out;
   }
   100%{
    transform: perspective(400px) rotateY(0) translateZ(0) scaleX(1);
    animation-timing-function: ease-out;

   }
}
.flip{
    animation: 1s flip linear;
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotateX(-20deg);
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        transform: perspective(400px)
    }
}
.flipInX{
    animation: 1s flipInX linear;
}
@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotateY(-20deg);
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotateY(10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotateY(-5deg)
    }

    to {
        transform: perspective(400px)
    }
}
.flipInY{
    animation: 1s flipInY linear;
}
@keyframes flipOutX {
    0% {
        transform: perspective(400px)
    }

    30% {
        transform: perspective(400px) rotateX(-20deg);
        opacity: 1
    }

    to {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}
.flipOutX{
    animation: 1s flipOutX linear;
}
@keyframes flipOutY {
    0% {
        transform: perspective(400px)
    }

    30% {
        transform: perspective(400px) rotateY(-20deg);
        opacity: 1
    }

    to {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }
}
.flipOutY{
    animation: 1s flipOutY linear;
}
@keyframes lightSpeedIn {
    0% {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0
    }

    60% {
        transform: skewX(20deg);
        opacity: 1
    }

    80% {
        transform: skewX(-5deg)
    }

    to {
        transform: translateZ(0)
    }
}
.lightSpeedIn{
    animation: 1s lightSpeedIn linear;
}
@keyframes lightSpeedOut {
    0% {
        opacity: 1
    }

    to {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0
    }
}
.lightSpeedOut{
    animation: 1s lightSpeedOut linear;
}
@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        transform-origin: center;
        transform: translateZ(0);
        opacity: 1
    }
}
.rotateIn{
    animation: 1s rotateIn linear;
}
@keyframes rotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1
    }
}
.rotateInDownLeft{
    animation: 1s rotateInDownLeft linear;
}
@keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(45deg);
        opacity: 0
    }

    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1
    }
}
.rotateInDownRight{
    animation: 1s rotateInDownRight linear;
}
@keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(45deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1
    }
}
.rotateInUpLeft{
    animation: 1s rotateInUpLeft linear;
}
@keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0
    }

    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1
    }
}
.rotateInUpRight{
    animation: 1s rotateInUpRight linear;
}
@keyframes rotateOut {
    0% {
        transform-origin: center;
        opacity: 1
    }

    to {
        transform-origin: center;
        transform: rotate(200deg);
        opacity: 0
    }
}
.rotateOut{
    animation: 1s rotateOut linear;
}
@keyframes rotateOutDownLeft {
    0% {
        transform-origin: left bottom;
        opacity: 1
    }

    to {
        transform-origin: left bottom;
        transform: rotate(45deg);
        opacity: 0
    }
}
.rotateOutDownLeft{
    animation: 1s rotateOutDownLeft linear;
}
@keyframes rotateOutDownRight {
    0% {
        transform-origin: right bottom;
        opacity: 1
    }

    to {
        transform-origin: right bottom;
        transform: rotate(-45deg);
        opacity: 0
    }
}
.rotateOutDownRight{
    animation: 1s rotateOutDownRight linear;
}
@keyframes rotateOutUpLeft {
    0% {
        transform-origin: left bottom;
        opacity: 1
    }

    to {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        opacity: 0
    }
}
.rotateOutUpLeft{
    animation: 1s rotateOutUpLeft linear;
}
@keyframes rotateOutUpRight {
    0% {
        transform-origin: right bottom;
        opacity: 1
    }

    to {
        transform-origin: right bottom;
        transform: rotate(90deg);
        opacity: 0
    }
}
.rotateOutUpRight{
    animation: 1s rotateOutUpRight linear;
}
@keyframes hinge {
    0% {
        transform-origin: top left;
        animation-timing-function: ease-in-out
    }

    20%,
    60% {
        transform: rotate(80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out
    }

    40%,
    80% {
        transform: rotate(60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
        opacity: 1
    }

    to {
        transform: translate3d(0, 700px, 0);
        opacity: 0
    }
}
.hinge{
    animation: 1s hinge linear;
}
@keyframes rollIn {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate(-120deg)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}
.rollIn{
    animation: 1s rollIn linear;
}
@keyframes rollOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate(120deg)
    }
}
.rollOut{
    animation: 1s rollOut linear;
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}
.zoomIn{
    animation: 1s zoomIn linear;
}
@keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}
.zoomInDown{
    animation: 1s zoomInDown linear;
}
@keyframes zoomInLeft {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}
.zoomInLeft{
    animation: 1s zoomInLeft linear;
}
@keyframes zoomInRight {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}
.zoomInRight{
    animation: 1s zoomInRight linear;
}
@keyframes zoomInUp {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}
.zoomInUp{
    animation: 1s zoomInUp linear;
}
@keyframes zoomOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }

    to {
        opacity: 0
    }
}
.zoomOut{
    animation: 1s zoomOut linear;
}
@keyframes zoomOutDown {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    to {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}
.zoomOutDown{
    animation: 1s zoomOutDown linear;
}
@keyframes zoomOutLeft {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0)
    }

    to {
        opacity: 0;
        transform: scale(.1) translate3d(-2000px, 0, 0);
        transform-origin: left center
    }
}
.zoomOutLeft{
    animation: 1s zoomOutLeft linear;
}
@keyframes zoomOutRight {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0)
    }

    to {
        opacity: 0;
        transform: scale(.1) translate3d(2000px, 0, 0);
        transform-origin: right center
    }
}
.zoomOutRight{
    animation: 1s zoomOutRight linear;
}
@keyframes zoomOutUp {
    40% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    to {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}
.zoomOutUp{
    animation: 1s zoomOutUp linear;
}
@keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}
.slideInDown{
    animation: 1s slideInDown linear;
}
@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}
.slideInLeft{
    animation: 1s slideInLeft linear;
}
@keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}
.slideInRight{
    animation: 1s slideInRight linear;
}
@keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}
.slideInUp{
    animation: 1s slideInUp linear;
}
@keyframes slideOutDown {
    0% {
        transform: translateZ(0)
    }

    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0)
    }
}
.slideOutDown{
    animation: 1s slideOutDown linear;
}
@keyframes slideOutLeft {
    0% {
        transform: translateZ(0)
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0)
    }
}
.slideOutLeft{
    animation: 1s slideOutLeft linear;
}
@keyframes slideOutRight {
    0% {
        transform: translateZ(0)
    }

    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0)
    }
}
.slideOutRight{
    animation: 1s slideOutRight linear;
}
@keyframes slideOutUp {
    0% {
        transform: translateZ(0)
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0)
    }
}
.slideOutUp{
    animation: 1s slideOutUp linear;
}
.infinite {
    animation-iteration-count: infinite
}